<table>
    <tr>
        <td>
            <ol>Definitions
            <li><b>Title</b> - Title of this category. (255 chars)</li>
            <li><b>Welcome Template</b> - Email template that every new person gets who signs up for a product or service that falls inside this category</li>
            <li><b>Invoice Template</b> - When invoice is generated, this template is emailed</li>
            <li><b>Success Template</b> - If billing is successful, send this template email message</li>
            <li><b>Error Template</b> - If billing fails send this message.</li>
            <li><b>Suspend Template</b> - If user account has been suspended</li>
            </ol>
            <b>Leave templates blank if you want to supress sending them</b>
        </td>
    </tR>
</table>
