<table cellpadding="3" width="100%">
    {if $clients}
	<tr>
		<th colspan="2">Client Information</th>
	</tr>
    <tr>
        <td><b>Select an Existing Client:</b></td>
        <td><select name="toClient_id" onChange="javascript:putVars(this)">
        <option value="">Select a client</option>
        {foreach from=$clients item=client}
        <option value="{$client.id}">{$client.lastname} {$client.firstname} - {$client.email}</option>
        {/foreach}
        </td>
    </tr>
    {/if}
	<tr>
		<th colspan="2">Client Details</th>
	</tr>
    <tr>
        <td><b>Invoice To [company / person]</b></td>
        <td><input type="text" name="invoice[toName]" size="32"></td>
    </tr>
    <tr>
        <td><b>Invoice To [email]</b></td>
        <td><input type="text" name="invoice[emailTo]" size="32"></td>
    </tr>
    <tr>
        <td><b>Invoice Due Date</b></td>
        <td><input type="text" name="invoice[due]" size="32"></td>
    </tr>
</table>
